.vinternet-artwork {
  min-height: 200px;
  background-image: url("../images/vinternet-artwork.png");
  background-image: url("../images/vinternet-artwork.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include media($large) {
    background-position: right;
    margin-right: $base-spacing-unit-tiny;
    margin-bottom: $base-spacing-unit-tiny;
  }
}

%project-base {
  padding-top: $base-spacing-unit-medium;
  border-bottom: solid 1px $grey-4;
  @include media($medium) {
    padding-top: 0;
    border-bottom: none;
  }
  @include media($large) {
    flex: 1;
    min-height: 200px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 0 $base-spacing-unit-small 0;
  }
}

.project-animation {
  @extend %project-base;
  @include media($large) {
    background-image: url("../images/vinternet-project-animation.png");
    background-image: url("../images/vinternet-project-animation.svg");
  }
}

.project-validation {
  @extend %project-base;
  @include media($large) {
    background-image: url("../images/vinternet-project-validation.png");
    background-image: url("../images/vinternet-project-validation.svg");
  }
}

.project-fileupload {
  @extend %project-base;
  @include media($large) {
    background-image: url("../images/vinternet-project-fileupload.png");
    background-image: url("../images/vinternet-project-fileupload.svg");
  }
}
